body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#status {
  position: absolute;
  font-weight: bold;
  top: 8px;
  left: 8px;
  z-index: 1;
}

#coordinates {
  position: absolute;
  font-weight: bold;
  color: green;
  top: 8px;
  right: 8px;
  z-index: 1;
}
